
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // Reglas para la carpeta de productos
    match /products/{allPaths=**} {
      // Cualquier usuario puede leer las imágenes de los productos.
      allow read: if true;
      
      // Solo los usuarios autenticados (admins) pueden subir, actualizar o borrar imágenes.
      // Se valida que el archivo sea una imagen y que no supere los 5MB.
      allow create, update: if request.auth != null
                           && request.resource.contentType.matches('image/.*')
                           && request.resource.size < 5 * 1024 * 1024;
      allow delete: if request.auth != null;
    }

    // Reglas para la carpeta de banners
    match /banners/{allPaths=**} {
      allow read: if true;
      allow create, update: if request.auth != null 
                           && request.resource.contentType.matches('image/.*')
                           && request.resource.size < 5 * 1024 * 1024;
      allow delete: if request.auth != null;
    }

    // Reglas para la carpeta de logos
    match /logos/{allPaths=**} {
      allow read: if true;
      allow create, update: if request.auth != null
                           && request.resource.contentType.matches('image/.*')
                           && request.resource.size < 2 * 1024 * 1024; // Límite más pequeño para logos
      allow delete: if request.auth != null;
    }

    // Regla general de denegación para cualquier otra ruta no especificada
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
